h1 {
  color: red;
}

.board {
  height: 60px;
  width: 360px;
  padding: 0;
  margin: 0 auto;
  border: 2px solid black;
}

.rows {
  height: 60px;
  width: 360px;
  padding: 0;
  list-style-type: none;
}

.singleRows {
  padding: 0;
  list-style: none;
}

.cells {
  height: 58px;
  width: 58px;
  border: 1px solid black;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}