h1 {
  color: red;
}

.panel {
  height: 430px;
  width: 230px;
  border: 2px solid black;
  float: left;
  margin: 0 auto;
  padding: 10px;
}

.panel h2 {
  font-size: 20px;
}

.panel p {
  font-size: 12px;
}

.board {
  height: 440px;
  width: 240px;
  padding: 0;
  margin: 0 auto;
  border: 2px solid black;
  background: #A26236;
}

.rows {
  height: 38px;
  width: 240px;
  padding: 0;
  list-style-type: none;
}

.singleRows {
  padding: 0;
  height: 38px;
  list-style: none;
}

.cells {
  height: 38px;
  width: 38px;
  border: 1px solid black;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultGrid {
  height: 17px;
  width: 17px;
  float: left;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.resultBox {
  height: 100px;
  width: 164px;
  margin: 0 auto;
  text-align: center;
}

.solution {
  height: 40px;
  width: 160px;
  border: 2px solid black;
  padding: 0;
  margin: 0px,0px,20px,0px;
  list-style-type: none;

}

.solution li {
  height: 38px;
  width: 38px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
}

.black {
  background: black;
}

.white {
  background: white;
}

.brown {
  background: #A26236;
}








